rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Records: users can only read/write/delete their own records
    match /records/{recordId} {
      allow read, delete: if request.auth != null && resource.data.uid == request.auth.uid;
      allow create: if request.auth != null && request.resource.data.uid == request.auth.uid;
    }
  }
}
